<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="wrapper" data-spy="scroll" data-target=".navbar" data-offset="50">
    <input type="checkbox" id="switch" name="switch" class="switch" />
    <label for="switch"></label>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" id="logo" href="#">Logo</a>*@
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#phones">Phones</a></li>
                    <li><a href="#contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="text-center">
        <a class="up-arrow" href="#home" data-toggle="tooltip" title="To top"><span class="glyphicon glyphicon-chevron-up"></span></a>
        <br/><br/>
        <p>&copy; @DateTime.Now.Year – Developed by Kate Hlynska</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
